.about {
  background-color: white;
  top: 0;
}

.profile-pic{
  border-radius: 3%;
  max-height:80%;
  max-width:100%;

}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  height: 100%;
}

#summary {
  text-align: justify;
  vertical-align: middle;
  padding: 1px;
}



.top,.bottom {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


#skills-container {
  width: 50%;
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap
}
.right {
  width: 50%;
  align-items: center;
}

.left {
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  vertical-align: center;
}



.skill {
  width: 100px;
  height: 100px;
  margin: 20px 10px;
  display: inline;
}




.social {
  margin: 5px;
  border-radius: 3%;
}
