.about {
  background-image: url("/../../images/bo_play_pattern.png");
  color: white;
  top: 0;
}

.profile-pic{
  border-radius: 3%;
  max-height:75%;
  max-width:100%;

}

.social {
  height: 30px;
  width: 30px;
  margin: 5px;
  margin-bottom: 0px;
}

#links {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%
}

#summary {
  text-align: center;
  vertical-align: middle;
  padding: 1px;
  font-size: 3vmin
}


.top, .bottom {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.top {
  margin-top: 5vh;
}

.bottom {
  margin-bottom:5vh;
}

.bottom {
  height: 50%
}

.right {
  margin-top: 0;
  display: block;
  width: 50%;
}

#about-title{
  margin-top: 0;
}

.left {
  margin-top: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40%;
  justify-content: space-around;
  vertical-align: center;
}

#skills-title {
  margin-top: 5px;
  margin-bottom: 5
}


#skills-wrapper {
  position: relative;
  height: 50%;
  vertical-align: bottom;
}

#skills-container {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.prev, .next {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  transition: 0.6s ease;
}

.next {
  margin-left: 5px;
}

.prev {
  margin-right: 5px;
}

.prev:hover, .next:hover {
  color: black;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}

#email {
  margin: 0 auto;
}
