


.title{
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.tagline{
  margin-top: 0px;
  margin-bottom: 5px;
  font-style: italic;
}

.project-links {
  background: black;
  color: white;
  padding: 5px;
  border-radius: 3%;
  opacity: .8;
  margin: 5px;
}

.information-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.info {
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  width: 33%;
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}
