nav {
  padding: 0;
  margin: 0;
}

.header-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-flow: row nowrap;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;
}

.header-list>div{
  margin: 5px;
  padding: 5px;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out .4s;
}

.header-list>div:hover {
  border-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.sticky {
  position: relative;
  top: -10vh;
  margin-bottom: -6vh;
  transition: all .1 ease
}



.fixed {
  background-color: #A4A4A4;
  position: fixed;
  top:0; left:0;
  width: 100%;
  transition: all .1 ease
}
