.header-list{
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to right, lightblue, lightgreen, lightyellow);
  list-style-type: none;
  flex-flow: row nowrap;
  margin-top: 0;
}

li{
  padding: 10px;
  color: grey;
}

li:hover {
  color: black;
  transform: scaleY(2);
}
