.image-carousel {
  position: relative;
  border:2px solid #021a40;
  overflow: hidden;
  top: 0;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.slide {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: auto;
}

#description {
  position: absolute;
  background: black;
  color: white;
  opacity: .8;
  top: 90%;
  width: 100%;
  text-align: center;
  transition: all 1000ms ease-in-out;
}

.translate-enter {
  transform: translateX(100%);
}
.translate-enter.translate-enter-active {
  transform: translateX(0%);
  transition: all 1000ms ease-in-out;
}
.translate-leave {
  transform: translateX(0%);
}
.translate-leave.translate-leave-active {
  transform: translateX(-100%);
  transition: all 1000ms ease-in-out;
}
