.work {
  display: block;
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  background-color: #fff;
  margin-top: 10;
  margin-bottom: 10;
}
